* {
	margin: 0px;
	padding: 0px;
}

html
{
	background-color: #212121;
	color: white;
	font-family: 'Courier New', monospace;
}
#banner
{
	margin-bottom: 10px;
	margin-left: 20px;
}

#navbar ul
{
	list-style-type: none;
	display: flex;
	justify-content: start;
	margin-left: 20px;
}

#navbar a
{
	text-decoration: none;
	color: white;
	display: inline;
}

#navbar a:hover
{
	color: gray;
}

#navbar li
{
	margin-left: 0px;
	margin-right: 10px;
}

#content
{
	margin-left: 20px;
	margin-top: 10px;
}

#content p
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#content li
{
	margin-left: 15px;
}

#contact
{
	margin-left: 20px;
	margin-top: 10px;
}

#featured
{
	margin-left: 20px;
	margin-top: 10px;
}

hr.dashed
{
	border-top: 3px solid grey;
	width: 50%;
}

#mainFlex
{
	display: flex;
	flex-direction: row;
}

#fishyTank
{
	width: 500px;
	border-style: solid;
	border-width: 10px;
	border-color: white;

	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#fishy
{
	width: 100%;
}
