* {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: #212121;
	color: white;
	font-family: 'Courier New', Monospace;
}

#banner {
	margin-left: 20px;
	margin-bottom: 20px;
}

#navbar {
	width: 200px;
	margin-left: 20px;
	margin-bottom: 10px;
}

#navbar ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	list-style-type: none;
	margin-left: none;
}

#navbar a {
	text-decoration: none;
	color: white;
}

#navbar a:hover {
	color: gray;
}


#introFlex {
	display: flex;
	margin: 20px;
}

#content {
	width: 75%;
}

#image img {
	width: 200px;
}
