/* Gruvbox Dark Colorscheme */

/* bettermotherfuckingwebsite.com */
body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height: 1.2
}

html {
  background-color: #282828;
  color: #ebdbb2;
  margin: 40px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

a {
  color: #458588;
  text-decoration: none;
}

a:visited {
  color: #b16286;
}

#whoami li {
  padding-bottom: 8px;
}

.navbar li,
#socials li {
  float: left;
}

#socials li {
  padding-right: 16px;
}

.navbar li a {
  color: #d5c4a1;
  display: block;
  text-align: center;
  padding-right: 16px;
}

.navbar li a:hover {
  color: #ebdbb2;
}
